{% extends "layouts/base.twig" %}

{% block main_content %}
    <h2>All Images:</h2>
    <ul>
        {% for image in images %}
            <li>
                {{ image.title }} -
                <a href="/images/{{ image.id }}/edit">Edit</a> | <a href="/images/{{ image.id }}/delete">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/images/new">Create New Image</a>
{% endblock %}